
<head>
    <title>Smash the Patriarchy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question 1 - Smash the Patriarchy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>

    <header>Smash the Patriarchy</header>
    
    <div id="question">
        <div class="flex-item">
            <img src="https://s3.amazonaws.com/blogimages.socialagency.com/7ca599df92bb3bd8ab02c32620080ef4.jpeg">
        </div>

        <div class="flex-item" >
           <p>What ammendment gave women the right to vote? </p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <a href = "{{ url_for('questions', answer='equal', question_id=1) }}">Equal rights ammendment</a>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <a href = "{{ url_for('questions', answer='15th', question_id=1) }}">15th ammendment</a>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <a href = "{{ url_for('questions', answer='19th', question_id=1) }}">19th ammendment </a>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
            <a href = "{{ url_for('questions', answer='voting', question_id=1) }}">Voting rights act </a>
        </div>
    </div>
    
    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>
