<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash The Patriachy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question 2 - Smash the Patriachy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>

    <header>Smash The Patriachy</header>
    
    <div id="question">
        <div class="flex-item">
            <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi674ORovjTAhUCj1QKHfR8CbwQjRwIBw&url=https%3A%2F%2Fwww.zazzle.com%2Fvote%2Bgifts&psig=AFQjCNEUuQ1ZBasItbggH_xNZgrzL8u7NQ&ust=1495156497187202"="245" width="360" style="padding-right:100px;">
        </div>

        <div class="flex-item" >
           <p>What Gave The American Woman The Right to Work</p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <a href = "{{ url_for('questions', answer='equal', question_id=2) }}">Equale Rights Admedment</a>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <a href = "{{ url_for('questions', answer='15th', question_id=2) }}">15 Admedment</a>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <a href = "{{ url_for('questions', answer='19th', question_id=2) }}">19 Admedment</a>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
            <a href = "{{ url_for('questions', answer='dinosaurs', question_id=2) }}">Dinosaurs</a>
        </div>
    </div>
    
    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>
