<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash The Patriachy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question 3 - Smash the Patriachy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link href="../static/image/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>

    <header>Smash The Patriachy</header>
    
    <div id="question">
        <div class="flex-item">
            <img src="TODO: Put your IMAGE Path here" height="245" width="360" style="padding-right:100px;">
        </div>

        <div class="flex-item" >
           <p>Question 3 Goes HERE</p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <a href = "{{ url_for('questions', answer='TODO', question_id=3) }}">Multiple Choice Answer 1</a>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <a href = "{{ url_for('questions', answer='TODO', question_id=3) }}">Multiple Choice Answer 2</a>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <a href = "{{ url_for('questions', answer='TODO', question_id=3) }}">Multiple Choice Answer 3</a>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
           <a href = "{{ url_for('questions', answer='TODO', question_id=3) }}">Multiple Choice Answer 4</a>
        </div>
    </div>
    
    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>
