<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash the Patriarchy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Smash The Patriarchy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>Smash the Patriarchy</header>
    <div class="flex-container" style="background-color: rgb(144, 41, 229)">
        <div class="flex-item">
           <p>Thanks for Playing</p>
        </div>

        <div class="flex-item">
          <p>Your Score is: {{ score }}</p>
        </div>
        <div class="flex-item">
          <p>Description of your game </p>
          <p>Contributors</p>
          <ul>
              <li><small>Aniya</small></li>
              <li><small>Renee</small></li>
              <li><small>Clara</small></li>
              <li><small>Claire</small></li>
          </ul>
          <p>Image Credits</p>
          <ul>
              <li><small>Question #1</small></li>
              <li><small>Question #2</small></li>
              <li><small>Question #3</small></li>
              <li><small>Question #4</small></li>
              <li><small>Question #5</small></li>
          </ul>
        </div>
    </div>

    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>