<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash the Patriarchy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Smash the Patriachy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>Smash the Partriarchy</header>
    <div class="flex-container">
        <div class="flex-item">
            <img src="../static/image/download.jpg" style="padding-right:100px;">
        </div>

        <div class="flex-item">
           <input id="start" type="submit" value="Begin Game" />
        </div>
        
    </div>

    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>